body {
background-color:beige;
font-family: Bai Jamjuree;
}



footer {
background-color: white;
color: black;
bottom:0;
#container 
display:flex ;
}


footer p{
text-align: center;
font-size: 0.6rem;
}
